@model IEnumerable<VinylShop.Models.Album>

@{
    ViewData["Title"] = "Альбоми";
}

<link rel="stylesheet" href="~/css/album.css" asp-append-version="true" />

<h1>Vinyls library</h1>

<p>
    <a asp-action="Create">Add a new album</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Artist
            </th>
            <th>
                Genre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                Picture
            </th>
            <th>
                Link
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) грн.
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    <img src="@item.ImageUrl" alt="@item.Title" width="50" />
                </td>
                <td>
                    <a href="@item.Url" target="_blank">Посилання</a>
                </td>
               <td class="actions">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-primary">Detales</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
