@page "{id:int}"
@model VinylShop.Pages.Shop.Home.DetailsModel
@{
    ViewData["Title"] = Model.Album.Title;
}

<link rel="stylesheet" href="~/css/order.css" asp-append-version="true" />

<h1>@Model.Album.Title</h1>

<p>Artist: @Model.Album.Artist.Name</p>
<p>Genre: @Model.Album.Genre.Name</p>
<p>Price: $@Model.Album.Price</p>

@if (Model.Album.Songs != null && Model.Album.Songs.Any())
{
    <h2>Tracklist:</h2>
    <ul>
        @foreach (var song in Model.Album.Songs)
        {
            <li>@song.Title - @song.Duration.ToString("mm\\:ss")</li>
        }
    </ul>
}
