@page
@model VinylShop.Areas.Shop.Pages.Home.MainModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/main.css"/>

<div class="fullscreen-bg">
    <div class="fullscreen-overlay"></div>
    <div class="fullscreen-content">
        <h1>VINYL SHOP</h1>
        <p>Онлайн-магазин вінілових платівок</p>
        <a href="/Shop/Home/Index" class="btn btn-success">🔍 Пошук в каталозі</a>
    </div>
</div>

<div class="albums-container">
    @foreach (var album in Model.Albums)
    {
            <div class="album-card">
                @if (!string.IsNullOrEmpty(album.ImagePath))
                {
                    <img class="album-image" src="@album.ImagePath" alt="@album.Title" />
                }

                <div class="album-info">
                    <div class="album-genre">@album.Genre.Name</div>
                    <h5 class="album-title">@album.Title</h5>
                    <div class="album-artist">@album.Artist.Name</div>
                </div>

                <div class="price-block">
                        <div class="price-wrapper">
                            <span class="price-highlight">@album.Price грн.</span>
                        </div>
                </div>
            </div>
    }
</div>
